/* ----------- 💫 https://github.com/JaKooLit 💫 -------- */
/* swaync colors - wallust from waybar.css */

@import '../../.config/waybar/colors.css';

/* ---- Base ---- */
* {
    outline: none;
    font-family: "JetBrains Mono Nerd Font";
    font-size: 14px;
    text-shadow: none;
    color: @on_surface;
    background-color: transparent;
    background: transparent;
    transition: 200ms;
}

/* Avoid annoying background */
.blank-window {  
    background: transparent;  
}

/* ---- CONTROL CENTER ---- */
.control-center {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 380px;
    max-height: 75vh;
    overflow-y: auto;
    background-color: alpha(@surface, 0.8);
    border-radius: 24px;
    border: 1px solid @outline;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.65);
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

/* ---- Notifications ---- */
.control-center .notification-row {
    max-height: 50vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.control-center .notification-row .notification-background {
    border-radius: 15px;
    margin: 5px 0;
    padding: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid @surface_variant;
}

.notification > *:last-child > * {
    margin: 5px;
}

.notification-content {
    padding: 15px 10px 10px 20px;
}

.notification-action > button {
    padding: unset;
    margin: unset;
}

.notification-action > label {
    font-size: 1rem;
    font-weight: normal;
}

.notification.critical {
    background-color: alpha(@error, 0.5);
    box-shadow: 0 0 5px rgba(0,0,0,.65);
    color: @on_error;
}

.notification.low,
.notification.normal {
    background-color: alpha(@surface_container_high, 0.5);
    box-shadow: 0 0 5px rgba(0,0,0,.65);
}

/* Close button */
.close-button {
    background-color: alpha(@surface_container_low, 0.8);
    box-shadow: 0 0 3px rgba(0,0,0,.35);
    border-radius: 6px;
}
.close-button:hover {
    background-color: alpha(@error, 0.8);
}

/* Notification group */
.notification-group-header,
.notification-group-icon {
    font-size: 0.9rem;
    color: @on_surface_variant;
}

.notification-group-collapse-button,
.notification-group-close-all-button {
    box-shadow: 0 0 3px rgba(0,0,0,.35);
    background-color: @surface_container_high;
    border-radius: 6px;
    padding: 4px;
    margin: 4px;
}
.notification-group-collapse-button:hover {
    background-color: alpha(@primary, 0.8);
}
.notification-group-close-all-button:hover {
    background-color: alpha(@error, 0.8);
}

/* ---- Sliders ---- */
trough highlight {
    background: @primary;
}
scale trough {
    margin: 0 1rem;
    background-color: @surface_container_low;
    min-height: 8px;
    min-width: 70px;
}
slider {
    background-color: @on_surface;
}
tooltip {
    background-color: @surface_container_high;
}

/* ---- Widgets ---- */

/* Buttons Grid */
.widget-buttons-grid {
    font-size: 1rem;
    padding: 10px 10px 5px;
    margin: unset;
}
.widget-buttons-grid > flowbox > flowboxchild > button {
    background: @surface_container_high;
    box-shadow: 0 0 10px alpha(@surface, 0.8);
    border-radius: 12px;
    min-width: 60px;
    min-height: 30px;
    padding: 6px;
    margin: 0 3px 0;
    transition: all .5s ease;
    color: @on_surface;
}
.widget-buttons-grid > flowbox > flowboxchild > button:hover {
    background: @primary_container;
}
.widget-buttons-grid > flowbox > flowboxchild > button.toggle:checked {
    background: @primary;
}
.widget-buttons-grid > flowbox > flowboxchild > button.toggle:checked:hover {
    background: alpha(@primary, 0.8);
}

/* MPRIS */
@define-color mpris-album-art-overlay rgba(0,0,0,0.55);
@define-color mpris-button-hover rgba(0,0,0,0.5);

.widget-mpris .widget-mpris-player {
    padding: 8px;
    margin: 8px 10px;
    background-color: @mpris-album-art-overlay;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.65);
    color: @on_surface;
}
.widget-mpris .widget-mpris-player .widget-mpris-album-art {
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.65);
}
.widget-mpris .widget-mpris-player .widget-mpris-title {
    font-weight: bold;
    font-size: 1.2rem;
    margin: 0 8px 8px 8px;
}
.widget-mpris .widget-mpris-player .widget-mpris-subtitle {
    font-size: 1rem;
}
.widget-mpris .widget-mpris-player > box > button:hover {
    background-color: @mpris-button-hover;
}
.widget-mpris > box > button:hover {
    background: alpha(@primary, 0.6);
}

/* Volume */
.widget-volume {
    padding: 6px 5px 5px 5px;
    margin: unset;
    font-size: 1.3rem;
    color: @on_surface;
}
.widget-volume > box > button {
    border: none;
}
.per-app-volume {
    padding: 4px 8px 8px 8px;
    margin: 0 8px 8px 8px;
}

/* Backlight */
.widget-backlight {
    padding: 0 0 3px 16px;
    margin: unset;
    font-size: 1.1rem;
    color: @on_surface;
}

/* Do Not Disturb */
.widget-dnd {
    font-weight: bold;
    margin: unset;
    padding: 20px 15px 15px 15px;
}
.widget-dnd > switch {
    font-size: initial;
    border-radius: 100px;
    background: @primary;
    border: none;
    box-shadow: none;
    padding: 3px;
}
.widget-dnd > switch:checked {
    background: @green;
}
.widget-dnd > switch slider {
    background: @surface_container_high;
    border-radius: 12px;
    min-width: 18px;
    min-height: 18px;
}

/* Title widget */
.widget-title {
    padding: 15px;
    margin: unset;
    font-weight: bold;
}
.widget-title > label {
    font-size: 1.5rem;
    color: @on_surface;
}
.widget-title > button {
    padding: 0px 6px;
    margin: unset;
    text-shadow: none;
    background: @error;
    border: none;
    box-shadow: none;
    border-radius: 100px;
    transition: all .7s ease;
}
.widget-title > button:hover {
    background: alpha(@error, 0.8);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.65);
}

